<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Development {{ title }}!
  </h1>
  <img width="150" alt="Angular Logo" src="assets/invoice-img.png">
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/invoices">Invoices</a>
  </nav>
  <router-outlet></router-outlet>
</div>
