<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <br><br>
      <h2>Invoice List</h2>
      <p>The following table displays the information of the invoices on the database</p>  
      <table class="table">
        <thead>
            <tr>
              <th>InvoiceID</th>
              <th>InvoiceName</th>
              <th>InvoiceDetailsID</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of invoices" routerLink="/detail/{{invoice.InvoiceDetailsID}}">
              <td>{{invoice.InvoiceID}}</td>
              <td>{{invoice.InvoiceName}}</td>
              <td>{{invoice.InvoiceDetailsID}}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>

