<div class="container" *ngIf="invoiceDetail">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <br><br>
      <h2>Invoice Details</h2>
      <p>The following table displays the details of the invoices on the database</p>  
      <table class="table">
        <thead>
            <tr>
              <th>InvoiceDetailsID</th>
              <th>InvoiceConcept</th>
              <th>InvoiceTotalValue</th>
              <th>InvoiceDate</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{invoiceDetail.InvoiceDetailsID}}</td>
              <td>{{invoiceDetail.InvoiceConcept}}</td>
              <td>{{invoiceDetail.InvoiceTotalValue}}</td>
              <td>{{invoiceDetail.InvoiceDate}}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>   
    <div class="col-md-6 center">
        <button (click)="goBack()">Go Back</button>
    </div>
  </div> 
</div>